.register__input {
  border: none;
  border-bottom: 2px solid #cccccc;
  width: 358px;
  height: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  outline: 0;
  padding: 2px 0 13px;
  margin: 0;
  background-color: black;
  color: #FFFFFF;
}

.register__input:focus-visible {
  border-bottom: 2px solid rgb(92, 174, 207);
}

@media screen and (max-width: 767px) {
  .register__input {
    width: 238px;
  }
}
