.header {
    width: 100%;
    min-height: 74px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    display: flex;
    justify-content: left;
    align-content: flex-start;
    margin: 45px 0 40px;
}

@media screen  and (max-width: 425px) {
    .header {
        min-height: 56px;
        margin-top: 28px;
        margin-bottom: 42px;
    }    
}