.elements__delete {
    width: 18px;
    height: 19px;
    padding: 0;
    margin: 0;
    background-image: url(../../../images/Trash.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 20px;
    right: 20px;
}

.elements__delete:hover {
    opacity: 0.6;
    transition: 0.5s;
    cursor: pointer;
}