@import url(./vendors/normalize.css);

@import url(./vendors/fonts/fonts.css);

@import url(./blocks/page/page.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);

@import url(./blocks/register/register.css);
@import url(./blocks/register/__title/register__title.css);
@import url(./blocks/register/__button/register__button.css);
@import url(./blocks/register/__input/register__input.css);
@import url(./blocks/register/__fieldset/register__fieldset.css);
@import url(./blocks/register/__form/register__form.css);
@import url(./blocks/register/__login-link/register__login-link.css);
@import url(./blocks/register/__link/register__link.css);

@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__edit-avatar/profile__edit-avatar.css);
@import url(./blocks/profile/__image/profile__image.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__add/profile__add.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__edit-name/profile__edit-name.css);
@import url(./blocks/profile/__occupation/profile__occupation.css);

@import url(./blocks/elements/elements.css);
@import url(./blocks/elements/__container/elements__container.css);
@import url(./blocks/elements/__favorit/elements__favorit.css);
@import url(./blocks/elements/__favorit/_active/elements__favorit_active.css);
@import url(./blocks/elements/__like-count/elements__like-count.css);
@import url(./blocks/elements/__like/elements__like.css);
@import url(./blocks/elements/__info/elements__info.css);
@import url(./blocks/elements/__name/elements__name.css);
@import url(./blocks/elements/__image/elements__image.css);
@import url(./blocks/elements/__delete/elements__delete.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__content/footer__content.css);

@import url(./blocks/main/main.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__content/popup__content.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__close/_window/popup__close_window_elements.css);
@import url(./blocks/popup/__close/_window/popup__close_window_profile.css);
@import url(./blocks/popup/__close/_window/popup__close_window_photo.css);
@import url(./blocks/popup/__button/popup__button.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_form/popup__input_form_link.css);
@import url(./blocks/popup/__input/_form/popup__input_form_plase.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/_photo/popup_photo.css);
@import url(./blocks/popup/__input/_form/popup__input_form_job.css);
@import url(./blocks/popup/__input/_form/popup__input_form_name.css);
@import url(./blocks/popup/__fieldset/popup__fieldset.css);

@import url(./blocks/popup/__button/popup__button_disabled.css);
@import url(./blocks/popup/__input/_type/popup__input_type_error.css);
@import url(./blocks/popup/__error/popup__error_visible.css);

@import url(./blocks/photo/photo.css);
@import url(./blocks/photo/__image/photo__image.css);
@import url(./blocks/photo/__figure/photo__figure.css);
